body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.layout {
  display: flex;
  height: 100vh; /* ocupa toda la ventana */
}

.sidebar {
  width: 220px;
  background-color: #163013;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #4d8f4b;
  color: white;
  cursor: pointer;
  text-align: left;
  border-radius: 8px;
}

.sidebar button:hover {
  background: #00f514;
}

#content {
  flex: 1; /* ocupa todo el espacio restante */
  background-image: url(../imagenes/fondo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
