.recepcion-container{
    text-align: center;
}

.recepcion-container h1{
    color: white;
}

.detalles{
    color: white;
    backdrop-filter: blur(2px);
}

.recepcion-container label{
    color: white;
}

input{
    border-radius: 5px;
    border: none;
}


