.home-container {
  padding: 20px;
}

.home-container h1 {
  margin-bottom: 10px;
  color: white;
  text-align: center;
}
.descripcion{
  color: white;
  text-align: center;
  font-weight: bold;
  backdrop-filter: blur(3px);
  
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  text-align: center;
}

.card {
  flex: 1;
  background: rgba(255, 255, 255, 0.418);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.856);
}

.card h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

.card p {
  font-size: 16px;
  font-weight: bold;
}
