
.vista{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.vista-header{
    margin-bottom: 20px;
}

.vista-titulo{
    font-size: 26px;
    margin: 0;
}

.vista-descripcion{
    padding:  20px;
    border-radius: 8px;
}
.inventario{
    margin-bottom: 15px;
}

.inventario input{
    padding: 6px;
    width: 250px;
    border-radius:  8px;
    border: 1px solid #ccc;
}
input:focus {
    border-bottom: 2px solid rgb(43, 151, 43);

}

.tabla-inventario {
    width: 100%;
    border-collapse: collapse;
}

.tabla-inventario th,
.tabla-inventario td {
    padding: 10px;
    border-bottom: 1px solid #dddddd57;
    text-align: left;
}

.tabla-inventario th{
    background: #f0f0f0;
}
.tabla-inventario tr:hover{
    background:  #f9f9f942;
}

.tabla-inventario button{
    background:green ;
    color: #fffdfd;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding:4px 15px;
    font-weight: bold;
}

.tabla-inventario button:hover{
    background: rgb(6, 226, 6);

}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: rgba(7, 49, 7, 0.986);
    padding: 20px;
    width: 320px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-content h2 {
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

.modal-content input {
    padding: 8px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
label{
    color: white;
}

.btn-guardar {
    background: green;
    color: white;
}
.btn-guardar:hover{
    background: rgb(8, 80, 8);
}

.btn-cancelar {
    background: crimson;
    color: white;
}
.btn-cancelar:hover{
    background: rgb(138, 22, 45);
}

.hidden {
    display: none;
}
